body {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    margin: 0;
    padding: 0;
    text-align: center;
}


nav {
    background-color: #333;
    padding: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.title-section {
    padding: 10px;
    background-color: #f4f4f4;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title-section img {
    width: 100%;
    max-height: 300px;
    object-fit: fill;
}

footer {
    margin-top: 10px;
    padding: 5px;
    background-color: #333;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    display: flex;
    gap: 10px;
}
.column-img{
    flex:20%;
    padding: 10px;
}
.column-img img{
    max-width: 100%;
}
.column-txt{
    flex: 80%;
    padding: 10px;
}