body {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    /* margin: 5%; */
    padding-left: clamp(15px, 1%, 80px);
    padding-right: clamp(15px, 1%, 80px);
    background-color:#333;
    color: whitesmoke;
}



body a{
    color: lightgoldenrodyellow;
}

h1, h2{
    text-align: center;
    font-size: clamp(24px, 8vw, 32px);
}

nav {
    background-color: #848181;
    padding: 2px;
    text-align: center;
    font-size: clamp(16px, 4vw, 24px);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.title-section {
    padding: 10px;
    /* background-color: #f4f4f4; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title-section img {
    width: 100%;
    /* max-height: 300px; */
    object-fit: fill;
}

footer {
    margin-top: 10px;
    padding: 5px;
    background-color: #848181;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main {
    padding: 5%;
}

main li{
    background-color: #848181;
}

#break{
    position: relative;
    top: -7px;
}
.container{
    display: flex;
    padding: clamp(1px, 1%, 80px);
}
.column-img{
    flex:20%;
    padding: 10px;
}
.column-img img{
    max-width: 100%;
    margin-top: 18px;
}
.column-txt{
    flex: 80%;
    padding: 10px;
}

.main-text{
    font-size: clamp(14px, 3vw, 24px);
    text-align: left;
}

.news{
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    text-align: center;
    font-size: clamp(14px, 3vw, 24px);
}

.past {
    display: none;
}