<header class="title-section">
    <img class="title-image" src="../images/performance.jpeg" alt="Willimantic Orchestra Performance at Eastern Connecticut State University">
    <h1>Willimantic Orchestra</h1>
    <p class="news">Upcoming 2026 Spring Concert with <a href="https://www.consonare-sing.org/dare-to-hope"> Consonare Community & Youth Choirs</a> </p>    
    <p class="news">May 31st, 3pm</p>
    <p class="news">Location: <a  href="https://www.easternct.edu/registrar/facilities/fineartinstructionalcenter.html">FAIC</a> building at ECSU</p> 
    <p class="news"><a href="https://consonarect.ludus.com/index.php?sections=events">Get your tickets today!</a></p>

</header>